# Auth0 Settings
VITE_AUTH0_DOMAIN=your-auth0-domain.auth0.com
VITE_AUTH0_CLIENT_ID=your-client-id
VITE_AUTH0_AUDIENCE=https://your-auth0-domain.auth0.com/api/v2/

# Backend API URL
VITE_API_URL=http://localhost:8000

# Toggle local HTTPS/SSL dev server (using self-signed certificates)
VITE_USE_SSL=false
