ENV=development
DEBUG=True
API_PORT=8000

FIRECRAWL_API_KEY=<your-firecrawl-api-key>

DATABASE_URL=<db-connection-string>
ALEMBIC_DATABASE_URL=<db-connection-string>

REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_DB = opportuneai