ENV=development
DEBUG=True
API_PORT=8000

FIRECRAWL_API_KEY=<your-firecrawl-api-key>

DATABASE_URL=<db-connection-string>
ALEMBIC_DATABASE_URL=<db-connection-string>

GEMINI_API_KEY=AIza...
GEMINI_MODEL=gemini-2.5-flash
LLM_TEMPERATURE=0.0
LLM_PROVIDER=gemini

REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_DB = 0
