ENV=development
DEBUG=True
API_PORT=8000
DEFAULT_JOB_EXPIRY_DAYS=30

FIRECRAWL_API_KEY=<your-firecrawl-api-key>

DATABASE_URL=<db-connection-string>
ALEMBIC_DATABASE_URL=<db-connection-string>

GEMINI_API_KEYS=["<gemini-api-key-1>","<gemini-api-key-2>",...]
GEMINI_MODEL=gemini-2.5-flash
LLM_TEMPERATURE=0.0
LLM_PROVIDER=gemini

# OpenRouter Settings
OPENROUTER_API_KEY=<your-openrouter-api-key>
OPENROUTER_MODEL=google/gemini-2.0-flash

REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_DB = 0

# Auth0 Settings
AUTH0_DOMAIN=<your-auth0-tenant-domain>
AUTH0_API_AUDIENCE=<your-auth0-api-audience>
AUTH0_CLIENT_ID=<your-auth0-client-id>
AUTH0_CLIENT_SECRET=<your-auth0-client-secret>
AUTH0_CONNECTION=Username-Password-Authentication

R2_ACCOUNT_ID=<cloudflare-account-id>
R2_ACCESS_KEY_ID=<r2-access-key-id>
R2_SECRET_ACCESS_KEY=<r2-secret-access-key>
R2_BUCKET_NAME=
R2_ENDPOINT_URL=
