fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
linkedin-jobs-scraper
firecrawl-py
beautifulsoup4
sqlalchemy
asyncpg
alembic
psycopg2
pytest
redis
rq
langchain
langchain-google-genai
langchain-openrouter
pymupdf
python-multipart
boto3
pgvector


#DEV DEPENDENCIES
python-jose[cryptography]
httpx
ruff
pre-commit
